h1 {
	background-color:rgb(127, 226, 91);
	text-shadow: navy 0px 0 10px;
	color: rgb(199, 14, 150);
   }
   h2 {
	color: #3f3faf;
	margin: 5px;
	font-family: cursive;
	background: linear-gradient(0.25turn,rgb(32, 134, 165), #6274e6);
   }